* {
    background-color: bisque;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-align: center;
}

.button {
    width: 80px;
    height: 40px;
    border-radius: 5%;
    background-color: #2cd031;
}

.containerLogin {
    width: 500px;
    height: 600px;
    border-radius: 6%;
}